.App {
  text-align: center;
  background-color:#282c34;
  color: white;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Helvetica;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.row {
 margin-top: .5%;
}

.card {
  margin: 1% .5%;
  padding: 1%;
}
.card-text {
 margin-left: 10px;
 text-align: left;
}
.education {
  text-align: left;
}
td {
  text-align: left;
}
.file {
  text-align: left;
}
.media{
  margin: 1% .5%;
  padding: 1%;
}
.folderCards {
  padding: 2%;
}

p a:link {
  /* color: rgb(13, 13, 99); */
  font-weight: bold;
}
p a:active {
  color: rgb(13, 13, 121);
}
.nav-link {
   color: white;
   font-weight: 500;
}

.contact {
  font-size: xx-large;
  padding: 10%;
  text-align: left;
  /* margin-top: 10%; */
}